.font-fam {
    font-family: TH SarabunPSK;
    font-size: 50px;
    font-weight: bold;
    color: white;
  }
  
  .font-fam2 {
    font-family: TH SarabunPSK;
    font-size: 30px;
    font-weight: bolder;
    color: white;
  }

  .br-enter{
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
  }

  .margin-auto {
    margin-left: auto;
    margin-right: auto;
  }