.font-fam {
    font-family: TH SarabunPSK;
    font-size: 30px;
    text-align: left;
  }
  
  .font-fam2 {
    font-family: TH SarabunPSK;
    font-size: 30px;
    font-weight: bolder;
    color: white;
  }

  .br-enter{
    margin-left: auto;
    margin-right: auto;
  }

  .margin-auto {
    margin-left: auto;
    margin-right: auto;
  }

  .indent {
    text-indent: 100px;
  }


  