.font-fam {
    font-size:23px;
    text-align: left;
    padding: 20px;
  }

  .br-enter{
    margin-left: auto;
    margin-right: auto;
  }

  .margin-auto {
    margin-left: auto;
    margin-right: auto;
  }

  .indent {
    text-indent: 50px;
  }


  