<div class="container-fluid">
  <div class="row">
    <div class="col-lg-11 col-md-11 col-sm-11 set-margin" style="margin-top: 5rem;">
      <div class="jumbotron">
        <h1>Youtube for Exercise</h1>
        <br>
        <div id="demo" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ul class="carousel-indicators" style="margin-top: 200px;">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
          </ul>

          <!-- The slideshow -->
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row">
                <!-- 1 -->
                <div class="col-lg-3">
                  <div class="card-container">
                    <div class="card">
                      <div class="front bg">
                        <div class="cover">
                          <!-- หน้าปก -->
                          <img src="../../assets/img2/healthy/channels4_banner.jpg" alt="fit-cover" />
                        </div>
                        <div class="content">
                          <div class="main">
                            <!-- start text -->
                            <img src="../../assets/img2/healthy/fit-band.jpg" alt="fit logo" class="logo" />
                            <p class="font-fam" style="margin-left: 20px;">Fitjunctions
                            </p>
                            <div class="text-center ">
                              <img src="../../assets/img2/healthy/fit-img.PNG" class="img-font" alt="fit img">
                            </div>
                            <p class="font-fam2 text-center" style="font-weight: bolder; margin-top: 8px;">"หุ่นดี
                              แบบถูกวิธี"
                            </p>
                            <p class="font-fam4 text-center" style="margin-top: -20px;">ไม่อดของอร่อย
                              ไม่หักโหม และเน้นที่การสอนความรู้ที่เข้าใจง่าย</p>

                            <!-- end text -->
                          </div>
                        </div>
                      </div>
                      <!-- end front panel -->
                      <div class="back">
                        <div class="header">
                          <p class="motto" style="font-weight: bolder;">"Fitjunctions Channel"</p>
                        </div>
                        <div class="content">
                          <div class="main">
                            <dl>
                              <br>
                              <br>
                              <dd>
                                <!-- facebook -->
                                <img src="../../assets/img2/social/fb.png" alt="facebook icon" class="social-icon">
                                <a href="https://www.facebook.com/fitjunctions/" target="_blank"
                                  class="font-fam3 social-link">Fit
                                  Junctions</a>
                              </dd>
                              <br>
                              <dd>
                                <!-- instragram -->
                                <img src="../../assets/img2/social/ig.png" alt="instragram icon" class="social-icon">
                                <a href="https://www.instagram.com/fassai/" target="_blank"
                                  class="font-fam3 social-link">fassai</a>
                              </dd>
                              <br>
                              <dd>
                                <!-- youtube  -->
                                <img src="../../assets/img2/social/youtube.png" alt="instragram icon"
                                  class="social-icon">
                                <a href="https://www.youtube.com/channel/UCukqpmtAdkWRLagQwJdbyhw" target="_blank"
                                  class="font-fam3 social-link">Fitjunctions</a>
                              </dd>
                            </dl>

                          </div>
                        </div>
                      </div>
                      <!-- end back panel -->
                    </div>
                  </div>
                </div>
                <!-- 2 -->
                <div class="col-lg-3">
                  <div class="card-container">
                    <div class="card">
                      <div class="front bg">
                        <div class="cover">
                          <!-- หน้าปก -->
                          <img src="../../assets/img2/healthy/channels4_banner2.jpg" alt="marshall-cover" />
                        </div>
                        <div class="content">
                          <div class="main">
                            <!-- start text -->
                            <img src="../../assets/img2/healthy/marshall-band.jpg" alt="marshall logo" class="logo" />
                            <p class="font-fam" style="margin-left: 110px;">The Fitness Marshall</p>
                            <div class="text-center">
                              <img src="../../assets/img2/healthy/marshall-img.jpg" class="img-font2"
                                alt="marshall img">
                            </div>
                            <p class="font-fam2 text-center" style="font-weight: bolder; margin-top: 8px;">"Cadio
                              dance"
                            </p>
                            <p class="font-fam4 text-center" style="margin-top: -20px; font-size: 18px;">Get ready to
                              sweat yourself
                              sexy with The Fitness Marshall</p>
                            <!-- end text -->
                          </div>
                        </div>
                      </div>
                      <!-- end front panel -->
                      <div class="back">
                        <div class="header">
                          <p class="motto" style="font-weight: bolder;">"The Fitness Marshall Channel"</p>
                        </div>
                        <div class="content">
                          <div class="main">
                            <dl>
                              <br>
                              <br>
                              <dd>
                                <!-- facebook -->
                                <img src="../../assets/img2/social/fb.png" alt="facebook icon" class="social-icon">
                                <a href="https://www.facebook.com/BootiesAtAttention/" target="_blank"
                                  class="font-fam3 social-link">The Fitness
                                  Marshall</a>
                              </dd>
                              <br>
                              <dd>
                                <!-- instragram -->
                                <img src="../../assets/img2/social/ig.png" alt="instragram icon" class="social-icon">
                                <a href="https://www.instagram.com/thefitnessmarshall/" target="_blank"
                                  class="font-fam3 social-link">thefitnessmarshall</a>
                              </dd>
                              <br>
                              <dd>
                                <!-- youtube  -->
                                <img src="../../assets/img2/social/youtube.png" alt="instragram icon"
                                  class="social-icon">
                                <a href="https://www.youtube.com/user/TheFitnessMarshall/featured" target="_blank"
                                  class="font-fam3 social-link">The Fitness
                                  Marshall</a>
                              </dd>
                            </dl>

                          </div>
                        </div>
                      </div>
                      <!-- end back panel -->
                    </div>
                  </div>
                </div>
                <!-- 3 -->
                <div class="col-lg-3">
                  <div class="card-container">
                    <div class="card">
                      <div class="front bg">
                        <div class="cover">
                          <!-- หน้าปก -->
                          <img src="../../assets/img2/healthy/channels4_banner3.jpg" alt="marshall-cover" />
                        </div>
                        <div class="content">
                          <div class="main">
                            <!-- start text -->
                            <img src="../../assets/img2/healthy/body-band.jpg" alt="body logo" class="logo" />
                            <p class="font-fam" style="margin-left: 30px;">Body Project</p>
                            <div class="text-center">
                              <img src="../../assets/img2/healthy/body-img.jpg" alt="body img" class="img-font2">
                            </div>
                            <p class="font-fam2 text-center" style="font-weight: bolder; margin-top: 8px;">"exercise
                              and
                              excellent
                              movement"</p>
                            <!-- 10 -->
                            <p class="font-fam4 text-center" style="margin-top: -20px;">High energy,
                              motivating
                              workouts to do from home.</p>

                            <!-- end text -->
                          </div>
                        </div>
                      </div>
                      <!-- end front panel -->
                      <div class="back">
                        <div class="header">
                          <p class="motto" style="font-weight: bolder;">"Body Project Channel"</p>
                        </div>
                        <div class="content">
                          <div class="main">
                            <dl>
                              <br>
                              <br>
                              <dd>
                                <!-- facebook -->
                                <img src="../../assets/img2/social/fb.png" alt="facebook icon" class="social-icon">
                                <a href="https://www.facebook.com/bodyprojectsocial" target="_blank"
                                  class="font-fam3 social-link">Body Project</a>
                              </dd>
                              <br>
                              <dd>
                                <!-- instragram -->
                                <img src="../../assets/img2/social/ig.png" alt="instragram icon" class="social-icon">
                                <a href="https://www.instagram.com/teambodyproject/" target="_blank"
                                  class="font-fam3 social-link">teambodyproject</a>
                              </dd>
                              <br>
                              <dd>
                                <!-- youtube  -->
                                <img src="../../assets/img2/social/youtube.png" alt="instragram icon"
                                  class="social-icon">
                                <a href="https://www.youtube.com/channel/UCFjc9H89-RpWuIStDqhO7AQ/featured"
                                  target="_blank" class="font-fam3 social-link">Body Project</a>
                              </dd>
                            </dl>

                          </div>
                        </div>
                      </div>
                      <!-- end back panel -->
                    </div>
                  </div>
                </div>
                <!-- 4 -->
                <div class="col-lg-3">
                  <div class="card-container">
                    <div class="card">
                      <div class="front bg">
                        <div class="cover">
                          <!-- หน้าปก -->
                          <img src="../../assets/img2/healthy/channels4_banner4.jpg" alt="marshall-cover" />
                        </div>
                        <div class="content">
                          <div class="main">
                            <!-- start text -->
                            <img src="../../assets/img2/healthy/pop-band.jpg" alt="pop logo" class="logo" />
                            <p class="font-fam" style="margin-left: 100px;">POPSUGAR Fitness</p>
                            <div class="text-center">
                              <img src="../../assets/img2/healthy/pop-img.jpg" alt="pop img" class="img-font2">
                            </div>
                            <p class="font-fam2 text-center" style="font-weight: bolder; margin-top: 8px;">"exercise and
                              dance workouts"</p>
                            <!-- 10 -->
                            <p class="font-fam4 text-center" style="margin-top: -20px; font-size: 21px;">POPSUGAR
                              Fitness offers fresh fitness</p>
                            <!-- end text -->
                          </div>
                        </div>
                      </div>
                      <!-- end front panel -->
                      <div class="back">
                        <div class="header">
                          <p class="motto" style="font-weight: bolder;">"POPSUGAR Fitness Channel"</p>
                        </div>
                        <div class="content">
                          <div class="main">
                            <dl>
                              <br>
                              <br>
                              <dd>
                                <!-- facebook -->
                                <img src="../../assets/img2/social/fb.png" alt="facebook icon" class="social-icon">
                                <a href="https://www.facebook.com/pg/glowbypopsugar/photos/?ref=page_internal"
                                  target="_blank" class="font-fam3 social-link">Glow by PopSugar</a>
                              </dd>
                              <br>
                              <dd>
                                <!-- instragram -->
                                <img src="../../assets/img2/social/ig.png" alt="instragram icon" class="social-icon">
                                <a href="https://www.instagram.com/glowbypopsugar/" target="_blank"
                                  class="font-fam3 social-link">glowbypopsugar</a>
                              </dd>
                              <br>
                              <dd>
                                <!-- youtube  -->
                                <img src="../../assets/img2/social/youtube.png" alt="instragram icon"
                                  class="social-icon">
                                <a href="https://www.youtube.com/user/popsugartvfit/featured" target="_blank"
                                  class="font-fam3 social-link">POPSUGAR Fitness</a>
                              </dd>
                            </dl>

                          </div>
                        </div>
                      </div>
                      <!-- end back panel -->
                    </div>
                  </div>
                </div>

              </div>
            </div>
            <div class="carousel-item">
              <!-- 2 -->

              <div class="row">
                <!-- 1 -->
                <div class="col-lg-3">
                  <div class="card-container">
                    <div class="card">
                      <div class="front bg">
                        <div class="cover">
                          <!-- หน้าปก -->
                          <img src="../../assets/img2/healthy/channels4_banner.jpg" alt="fit-cover" />
                        </div>
                        <div class="content">
                          <div class="main">
                            <!-- start text -->
                            <img src="../../assets/img2/healthy/fit-band.jpg" alt="fit logo" class="logo" />
                            <p class="font-fam" style="margin-left: 20px;">Fitjunctions
                            </p>
                            <div class="text-center ">
                              <img src="../../assets/img2/healthy/fit-img.PNG" class="img-font" alt="fit img">
                            </div>
                            <p class="font-fam2 text-center" style="font-weight: bolder; margin-top: 8px;">"หุ่นดี
                              แบบถูกวิธี"
                            </p>
                            <p class="font-fam4 text-center" style="margin-top: -20px;">ไม่อดของอร่อย
                              ไม่หักโหม และเน้นที่การสอนความรู้ที่เข้าใจง่าย</p>

                            <!-- end text -->
                          </div>
                        </div>
                      </div>
                      <!-- end front panel -->
                      <div class="back">
                        <div class="header">
                          <p class="motto" style="font-weight: bolder;">"Fitjunctions Channel"</p>
                        </div>
                        <div class="content">
                          <div class="main">
                            <dl>
                              <br>
                              <br>
                              <dd>
                                <!-- facebook -->
                                <img src="../../assets/img2/social/fb.png" alt="facebook icon" class="social-icon">
                                <a href="https://www.facebook.com/fitjunctions/" target="_blank"
                                  class="font-fam3 social-link">Fit
                                  Junctions</a>
                              </dd>
                              <br>
                              <dd>
                                <!-- instragram -->
                                <img src="../../assets/img2/social/ig.png" alt="instragram icon" class="social-icon">
                                <a href="https://www.instagram.com/fassai/" target="_blank"
                                  class="font-fam3 social-link">fassai</a>
                              </dd>
                              <br>
                              <dd>
                                <!-- youtube  -->
                                <img src="../../assets/img2/social/youtube.png" alt="instragram icon"
                                  class="social-icon">
                                <a href="https://www.youtube.com/channel/UCukqpmtAdkWRLagQwJdbyhw" target="_blank"
                                  class="font-fam3 social-link">Fitjunctions</a>
                              </dd>
                            </dl>

                          </div>
                        </div>
                      </div>
                      <!-- end back panel -->
                    </div>
                  </div>
                </div>
                <!-- 2 -->
                <div class="col-lg-3">
                  <div class="card-container">
                    <div class="card">
                      <div class="front bg">
                        <div class="cover">
                          <!-- หน้าปก -->
                          <img src="../../assets/img2/healthy/channels4_banner2.jpg" alt="marshall-cover" />
                        </div>
                        <div class="content">
                          <div class="main">
                            <!-- start text -->
                            <img src="../../assets/img2/healthy/marshall-band.jpg" alt="marshall logo" class="logo" />
                            <p class="font-fam" style="margin-left: 110px;">The Fitness Marshall</p>
                            <div class="text-center">
                              <img src="../../assets/img2/healthy/marshall-img.jpg" class="img-font2"
                                alt="marshall img">
                            </div>
                            <p class="font-fam2 text-center" style="font-weight: bolder; margin-top: 8px;">"Cadio
                              dance"
                            </p>
                            <p class="font-fam4 text-center" style="margin-top: -20px; font-size: 18px;">Get ready to
                              sweat yourself
                              sexy with The Fitness Marshall</p>
                            <!-- end text -->
                          </div>
                        </div>
                      </div>
                      <!-- end front panel -->
                      <div class="back">
                        <div class="header">
                          <p class="motto" style="font-weight: bolder;">"The Fitness Marshall Channel"</p>
                        </div>
                        <div class="content">
                          <div class="main">
                            <dl>
                              <br>
                              <br>
                              <dd>
                                <!-- facebook -->
                                <img src="../../assets/img2/social/fb.png" alt="facebook icon" class="social-icon">
                                <a href="https://www.facebook.com/BootiesAtAttention/" target="_blank"
                                  class="font-fam3 social-link">The Fitness
                                  Marshall</a>
                              </dd>
                              <br>
                              <dd>
                                <!-- instragram -->
                                <img src="../../assets/img2/social/ig.png" alt="instragram icon" class="social-icon">
                                <a href="https://www.instagram.com/thefitnessmarshall/" target="_blank"
                                  class="font-fam3 social-link">thefitnessmarshall</a>
                              </dd>
                              <br>
                              <dd>
                                <!-- youtube  -->
                                <img src="../../assets/img2/social/youtube.png" alt="instragram icon"
                                  class="social-icon">
                                <a href="https://www.youtube.com/user/TheFitnessMarshall/featured" target="_blank"
                                  class="font-fam3 social-link">The Fitness
                                  Marshall</a>
                              </dd>
                            </dl>

                          </div>
                        </div>
                      </div>
                      <!-- end back panel -->
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <!-- Left and right controls -->
          <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </a>
          <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
          </a>

        </div>
      </div>
    </div>
  </div>