<div class="container-fluid">
  <div class="row">
    <div class="col-lg-11 col-md-11 col-sm-11 set-margin" style="margin-top: 5rem;">
      <div class="jumbotron">
        <h1>Health Page - เพจแนะนำต่างๆสำหรับคนรักสุขภาพ</h1>
        <br>
        <div class="row">
          <!-- 1 -->
          <div class="col-lg-3">
            <a href="" target="_blank" data-toggle="tooltip" title="click here and go!">
              <div class="card">
                <div class="front2" style="background-color:#20473a;">
                  <div class="content-page">
                    <div class="main text-center">
                      <!-- start text -->
                      <img src="../../assets/img2/healthy/web-band.jpg" class="img-page" alt="web-band">
                      <div class="coverback"></div>
                      <div class="pad">
                        <p class="song-font" style="margin-top:30px;">"เว็บไซต์แนะนำการดูแลสุขภาพ"</p>
                        <p class="font-fam2">เป็นเว็บไซต์ที่มีบทความการดูแลรักษาปัญหาสุขภาพต่างๆ สามารถปรึกษาแพทย์ผู้เชี่ยวชาญได้ผ่านหน้าเว็บไซต์โดยไม่จำเป็นต้องเปิดเผยตัวตน อีกทั้งยังสามารถเช็คปริมาณแคลอรี่ในอาหารได้อีกด้วย</p>
                      </div>
                      <!-- end text -->
                    </div>
                  </div>
                </div>
                <!-- end front panel -->
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>