.border {
	border: 3px;
	border-color: azure;
}

.distance{
	margin-top: 40px;
 	padding: 0px;
}

.font-1{
	color: white;
	font-size: 20px;
}

.bg {
	background-color:rgba(255, 255, 255, 0.6);
	border-radius: 4px;
}

.scroll{
	overflow-y: auto;
}

.imgBorder {
	border: 5px solid white;
  border-radius: 4px;
  width: 300px;
}


// ----- vertical tab -----
$padding-base: 0px;
$color-body: #fff;
$color-border: #ddd;
$color-link: #0275d8;
$border-radius: 1rem;

.contentData {
	margin : 2rem;
	margin-right: 0rem;
	
}

.tab-content{
	width: 75%;
	height: 500px;
	padding: 30px;
	//padding-top: 0px;
	overflow-y: auto;
}

// -------------------vertical tap----------------------
.nav-tabs {
	//width:300px;
	&--vertical {
		border-bottom: none;
		border-right: 5px double $color-border;
		display: flex; //*
		flex-flow: column nowrap; //**
	} //* ** คือการจัดแนวของ tabs
	
	&--left {
    margin: $padding-base; //ระยะห่างของข้างบน พอไม่ใส่มันเลยลงมา
    
		.nav-item + .nav-item {
			margin-top: 1rem; //ความห่างของแต่ละ tabs
		}
		
		.nav-link {
			transition: border-color .500s ease-in; //ความเร็วช้าการขึ้นขอบตอนกด
			white-space: nowrap;
			
			&:hover {
				background-color: lighten($color-border, 10%);
				border-color: transparent;
			}
		}
		
		.nav-link.active {
			border-bottom-color: $color-border;
			border-right-color: $color-body;
			border-bottom-left-radius: $border-radius;
			border-top-right-radius: 0;
			margin-right: -1px;
			
			&:hover {
				background-color: $color-body;
				border-color: $color-link $color-body $color-link $color-link;
			}
		}
  }
}