<div class="container-fluid bg">
  <div class="row">
    <div class="col-md-1 col-sm-1 text-left top">

    </div>
    <div class="col-lg-7 col-md-7 col-sm-7 text-left top">
      <div class="d-flex flex-row mt-2">
        <ul class="nav nav-tabs nav-tabs--vertical nav-tabs--left" role="navigation">
          <li class="nav-item">
            <a href="#lorem" class="nav-link active" data-toggle="tab" role="tab" aria-controls="lorem">ผลการทำนาย BMI</a>
          </li>
          <li class="nav-item">
            <a href="#ipsum" class="nav-link" data-toggle="tab" role="tab" aria-controls="ipsum">คำแนะนำการออกกำลังกาย</a>
          </li>
          <li class="nav-item">
            <a href="#dolor" class="nav-link" data-toggle="tab" role="tab" aria-controls="dolor">คำแนะนำการรับประทานอาหาร</a>
          </li>
          
        </ul>
        <div class="tab-content">
          <div class="tab-pane fade show contentData active" id="lorem" role="tabpanel">
            <h1>Lorem</h1>

            <p>Aenean sed lacus id mi scelerisque tristique. Nunc sed ex sed turpis fringilla aliquet in in neque.
              Praesent
              posuere, neque rhoncus sollicitudin fermentum, erat ligula volutpat dui, nec dapibus ligula lorem ac
              mauris.
              Etiam et leo venenatis purus pharetra dictum.</p>

            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin
              tempor mi
              ut risus laoreet molestie. Duis augue risus, fringilla et nibh ac, convallis cursus purus. Suspendisse
              potenti.
              Praesent pretium eros eleifend posuere facilisis. Proin ut magna vitae nulla suscipit eleifend. Ut
              bibendum
              pulvinar sapien, vel tristique felis scelerisque et. Sed elementum sapien magna, placerat interdum lacus
              placerat ut. Integer varius, ligula bibendum laoreet sollicitudin, eros metus fringilla lectus, quis
              consequat
              nisl nibh ut nisi. Aenean dignissim, nibh ac fermentum condimentum, ante nisl rutrum sapien, at commodo
              eros
              sapien vulputate arcu. Fusce neque leo, blandit nec lectus eu, vestibulum commodo tellus. Aliquam sem
              libero,
              tristique at condimentum ac, luctus nec nulla.</p>

          </div>
          <div class="tab-pane fade contentData" id="ipsum" role="tabpanel">
            <h1>Ipsum</h1>

            <p>Aenean pharetra risus quis placerat euismod. Praesent mattis lorem eget massa euismod sollicitudin.
              Donec
              porta
              nulla ut blandit vehicula. Mauris sagittis lorem nec mauris placerat, et molestie elit vehicula. Donec
              libero
              ex, condimentum et mi dapibus, euismod ornare ligula.</p>

            <p>In faucibus tempus ante, et tempor magna luctus id. Ut a maximus ipsum. Duis eu velit nec libero
              pretium
              pellentesque. Maecenas auctor hendrerit pulvinar. Donec sed tortor interdum, sodales elit vel, tempor
              turpis. In
              tristique vestibulum eros vel congue. Vivamus maximus posuere fringilla. Nullam in est commodo,
              tristique
              ligula
              eu, tincidunt enim. Duis iaculis sodales lectus vitae cursus.</p>
          </div>
          <div class="tab-pane fade contentData" id="dolor" role="tabpanel">
            <h1>Dolor</h1>

            <p>Ut eget lectus tristique, tempus purus sit amet, porta augue. Mauris lobortis sem nec augue ultricies
              blandit.
              Nullam sed sem venenatis, pretium urna eget, scelerisque dolor. Morbi nec volutpat leo, quis faucibus
              tortor.
              Aenean vel rutrum mauris. Pellentesque lectus massa, tincidunt quis leo non, sodales sagittis nulla.
              Proin
              interdum est at nulla laoreet, pulvinar pretium nisl rutrum. In vel elit a risus rhoncus accumsan
              vulputate non
              sapien. Sed et rhoncus velit. Nunc commodo augue fermentum, hendrerit neque at, ullamcorper arcu. Nulla
              tincidunt orci a lectus efficitur elementum. Donec molestie urna vestibulum augue placerat faucibus. In
              vitae
              orci vel mauris cursus viverra ac sit amet nisl. Phasellus odio tortor, ullamcorper eget ullamcorper
              eget,
              molestie eget justo. Integer elementum purus eget arcu fermentum tincidunt. Nullam erat tellus, dictum
              sit
              amet
              nisi eu, rutrum fermentum odio.</p>
          </div>
          
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 text-center top">
      <img [src]="imageUrl" style=" width: 20rem; height: 20rem;">
      <h1>Hello world</h1>
      <!-- <img [src]="imageUrl" style=" width: 5rem; height: 5rem;">&nbsp;&nbsp;
      <img [src]="imageUrl" style=" width: 5rem; height: 5rem;">&nbsp;&nbsp;
      <img [src]="imageUrl" style=" width: 5rem; height: 5rem;"> -->
      <br>
      <!-- Facebook -->
      <a href="http://www.facebook.com/sharer.php?u=https://simplesharebuttons.com" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" />
      </a>
      <!-- Google+ -->
      <a href="https://plus.google.com/share?url=https://simplesharebuttons.com" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/google.png" alt="Google" />
      </a>
      <!-- Twitter -->
      <a href="https://twitter.com/share?url=https://simplesharebuttons.com&amp;text=Simple%20Share%20Buttons&amp;hashtags=simplesharebuttons"
        target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" />
      </a>
      <!-- Print -->
      <a href="javascript:;" onclick="window.print()">
        <img src="https://simplesharebuttons.com/images/somacro/print.png" alt="Print" />
      </a>
    </div>
  </div>
</div>