<div class="container-fluid">
  <div class="row" *ngFor="let item of text">
    <div class="col-lg-3 distance text-center">
      <img [src]="imageSend" alt="image" class="imgBorder">
      <br>
      <br>
      <p class="font-1">อยู่ในเกณฑ์ : {{item.class}} </p>
    </div>

    <div class="col-lg-9 distance">
      <div class="d-flex flex-row mt-2">
        <ul class="nav nav-tabs nav-tabs--vertical nav-tabs--left text-center" role="navigation" style="margin-left:25px;">
          <li class="nav-item">
            <a href="#result" class="nav-link active" data-toggle="tab" role="tab" aria-controls="result">ผลการทำนาย
              BMI</a>
          </li>
          <li class="nav-item">
            <a href="#excercise" class="nav-link" data-toggle="tab" role="tab"
              aria-controls="excercise">คำแนะนำการออกกำลังกาย</a>
          </li>
          <li class="nav-item">
            <a href="#eat" class="nav-link" data-toggle="tab" role="tab"
              aria-controls="eat">คำแนะนำการรับประทานอาหาร</a>
          </li>
        </ul>
        <div class="tab-content bg">
          <div class="tab-pane fade show active " id="result" role="tabpanel">
            <h1><ins>ผลการทำนาย</ins></h1>
            <br>
            <p>{{item.main}}</p>
          </div>
          <div class="tab-pane fade" id="excercise" role="tabpanel">
            <h1><ins>คำแนะนำการออกกำลังกาย</ins></h1>
            <br>
            <p>{{item.exercise}}</p>
          </div>
          <div class="tab-pane fade" id="eat" role="tabpanel">
            <h1><ins>คำแนะนำการรับประทานอาหาร</ins></h1>
            <br>
            <p>{{item.food}}</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- <div *ngFor="let item of text" >
  <p>{{item.class}}</p>
</div>  -->