.button {
    // border-radius: 12px;
    background-color: white;
    border-color: #32c5d2;
    color: #32c5d2;
    display: inline-block;
    cursor: pointer;
    
  }
  
  .btn:focus {
    color: white;
    background: #32c5d2;
    border-color: #32c5d2;
  }
  
  .top {
    margin-top: 35rem;
  }

  .top2 {
    margin-top: 2rem;
  }

  .form-control {
    outline: 0 !important;
  }