<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 text-center outPopUp">
      <h1>Body Mass Index Prediction Web Application From Face Images Using Deep Learning</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 text-center outPopUp2">
      <button type="button" class="btn btn-default button" [routerLink]="['/upload-pic']">Click for check your BMI</button>
    </div>
  </div>

</div>

<router-outlet></router-outlet>