<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 text-center top font-fam">
      <img src="assets/img2/drumbell.png" style="width: 130px;" alt="drumbell-icon">
      <p>Body Mass Index Prediction Web Application </p>
      <p>From Face Images Using Deep Learning</p>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12">
      <!-- พื้นที่ว่าง -->
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 text-center top2">
      <img src="assets/img2/arrow.png" style="width: 150px;"  [routerLink]="['/upload-pic']" alt="arrow-icon">
    </div>
  </div>
</div>
<router-outlet></router-outlet>