.font-fam {
  font-family: TH SarabunPSK;
  font-size: 70px;
  font-weight: bold;
  color: white;
}

.button {
    // border-radius: 12px;
    background-color: white;
    border-color: #32c5d2;
    color: #32c5d2;
    display: inline-block;
    cursor: pointer;
    
  }
  
  .btn:focus {
    color: white;
    background: #32c5d2;
    border-color: #32c5d2;
  }
  
  .top {
    margin-top: 15rem;
  }

  .top2 {
    margin-top: 15rem;
  }

  .form-control {
    outline: 0 !important;
  }