.set-margin {
  margin-left: auto;
  margin-right: auto;
}
  .font-fam {
    font-size: 22px;
    //font-weight: bold;
    color: white;
    //text-align: center;
  }

  .active{
    color: chocolate;
  }

  li a:hover:not(.active) {
    background-color: none;
    color: blueviolet;
  }

  .position {
    margin-left: auto;
    margin-right: auto;
  }
