.font-fam {
    font-family: TH SarabunPSK;
    font-size: 25px;
    font-weight: bold;
    color: white;
  }

  .font-fam2 {
    font-family: TH SarabunPSK;
    font-size: 35px;
    font-weight: bold;
    color: white;
  }