<div class="container-fluid">
  <div class="row">
    <div class="col-lg-11 col-md-11 col-sm-11 set-margin" style="margin-top: 5rem;">
      <!-- blog 2 song -->
      <div class="jumbotron">
        <p style="font-size:35px;">Song for Exercise - แนะนำเพลงสำหรับการออกกำลังกาย</p>
        <br>
        
        <!-- 2 -->
        <div class="row">
          <div class="col-lg-4">
            <div class="card">
              <div class="front2 bg">
                <div class="cover">
                  <!-- หน้าปก -->
                  <img src="../../assets/img2/song-cover.jpg" alt="song-cover" />
                </div>
                <div class="content">
                  <div class="main">
                    <!-- start text -->
                    <p class="song-font">Matteo Lunetta Channel
                    </p>
                    <div class="text-center cover3">
                      <iframe src="https://www.youtube.com/embed/IkffiOUdqMw" allowfullscreen></iframe>
                    </div>
                    <p class="font-fam2 text-center title-small" style="font-weight: bolder; margin-top: 65px;">
                      Song: "Best Workout Music 2019 🔥🔥 Gym Motivation Music #1"
                    </p>
                    <!-- end text -->
                  </div>
                </div>
              </div>
              <!-- end front panel -->
            </div>
          </div>
          <!-- 3------- -->
          <div class="col-lg-4">
            <div class="card-container">
              <div class="card">
                <div class="front bg">
                  <div class="cover">
                    <!-- หน้าปก -->
                    <img src="../../assets/img2/healthy/channels4_banner.jpg" alt="fit-cover" height="110px;" />
                  </div>
                  <div class="content">
                    <div class="main">
                      <!-- start text -->
                      <img src="../../assets/img2/healthy/fit-band.jpg" alt="fit logo" class="logo" />
                      <p class="font-fam" style="margin-left: 35px;">Fitjunctions
                      </p>
                      <div class="text-center">
                        <img src="../../assets/img2/healthy/fit-img.PNG" class="img-font" style="margin-top:8px;"
                          alt="fit img">
                      </div>
                      <p class="font-fam2 text-center" style="font-weight: bolder; margin-top: 8px;">"หุ่นดี
                        แบบถูกวิธี"
                      </p>
                      <p class="font-fam4 text-center" style="margin-top: -10px;">
                        ไม่อดของอร่อย ไม่หักโหม </p>
                      <p class="font-fam4 text-center" style="margin-top: -10px;">และเน้นที่การสอนความรู้ที่เข้าใจง่าย
                      </p>

                      <!-- end text -->
                    </div>
                  </div>
                </div>
                <!-- end front panel -->
                <div class="back">
                  <div class="header">
                    <p class="motto" style="font-weight: bolder;">"Fitjunctions Channel"
                    </p>
                  </div>
                  <div class="content">
                    <div class="main">
                      <dl>
                        <br>
                        <br>
                        <dd>
                          <!-- facebook -->
                          <img src="../../assets/img2/social/fb.png" alt="facebook icon" class="social-icon">
                          <a href="https://www.facebook.com/fitjunctions/" target="_blank"
                            class="font-fam3 social-link">Fit
                            Junctions</a>
                        </dd>
                        <br>
                        <dd>
                          <!-- instragram -->
                          <img src="../../assets/img2/social/ig.png" alt="instragram icon" class="social-icon">
                          <a href="https://www.instagram.com/fassai/" target="_blank"
                            class="font-fam3 social-link">fassai</a>
                        </dd>
                        <br>
                        <dd>
                          <!-- youtube  -->
                          <img src="../../assets/img2/social/youtube.png" alt="instragram icon" class="social-icon">
                          <a href="https://www.youtube.com/channel/UCukqpmtAdkWRLagQwJdbyhw" target="_blank"
                            class="font-fam3 social-link">Fitjunctions</a>
                        </dd>
                      </dl>

                    </div>
                  </div>
                </div>
                <!-- end back panel -->
              </div>
            </div>
          </div>
        </div>


      </div>
      <!-- end blog 2 -->

    </div>
  </div>
</div>