// -------------- upload css ------------
.set-margin {
  margin-left: auto;
  margin-right: auto;
}
  .btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#img-upload{
    width: 100%;
}

.top {
  margin-top: 12rem;
}

.font-fam {
  font-family: TH SarabunPSK;
  font-size: 120px;
  font-weight: bold;
  color: white;
}

.font-fam2 {
  font-family: TH SarabunPSK;
  font-size: 50px;
  font-weight: bolder;
  color: white;
}



// -------------- btn -----------
.btn-default {
  font-family: TH SarabunPSK;
  font-size: 30px;
  // color: rgba(108, 88, 179, 0.75);
  color: white;
  letter-spacing: 1px;
  line-height: 15px;
  // border: 2px solid rgba(108, 89, 179, 0.75);
  border: 2px solid white;
  border-radius: 40px;
  background: transparent;
  transition: all 0.3s ease 0s;
}

.btn-default:hover {
  color: #FFF;
  background:#32c5d2;
  border: 2px solid #32c5d2;
}

// ----------- img border -------------
.imgBorder {
  border: 5px solid white;
}