// -------------- upload css ------------
.set-margin {
  margin-left: auto;
  margin-right: auto;
}
  .btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#img-upload{
    width: 100%;
}

.top {
  margin-top: 5rem;
}

.font-fam {
  font-size:45px;
  color: white;
}
.font-fam2 {
  font-size:45px;
}



.box-shadow {
  -webkit-box-shadow: 13px 15px 36px -26px rgba(0,0,0,0.83);
-moz-box-shadow: 13px 15px 36px -26px rgba(0,0,0,0.83);
box-shadow: 13px 15px 36px -26px rgba(0,0,0,0.83);
}

.po-spin{
  width:200px;
  height:200px;
  margin-top: 160px;
}


// -------------- btn -----------
.btn-default {
  font-size: 20px;
  // color: rgba(108, 88, 179, 0.75);
  color: white;
  letter-spacing: 1px;
  line-height: 15px;
  // border: 2px solid rgba(108, 89, 179, 0.75);
  border: 2px solid white;
  border-radius: 40px;
  background: transparent;
  transition: all 0.3s ease 0s;
}

.btn-default:hover {
  color: #FFF;
  background:#32c5d2;
  border: 2px solid #bdd7da;
}


// ----------- img border -------------
.imgBorder {
  border: 5px solid white;
  border-radius: 4px;
  width: 400px;
  //width: 23%;
  position: relative;
}
.pic-up{
  // background-repeat: repeat-x;
  // background-size: 100% 100%;
  // background-attachment: fixed;
  border: 1px solid #ddd;
  
}