<div class="container-fluid">
  <div class="row">
    <!-- start -->
    <div class="col-lg-12">
      <h1 class="text-center">test
        <button *ngIf="!buttonDisabled" (click)="buttonDisabled = true">
          Disable Button
        </button>

        <!-- enable the button -->
        <button *ngIf="buttonDisabled" (click)="buttonDisabled = false">
          Enable Button
        </button>

        <!-- the target button -->
        <button [disabled]="buttonDisabled" (click)="count = count + 1">
          I've been clicked {{count}} times.
        </button>

      </h1>

      <hr>
    </div>
    <!-- end -->

    <div class="col-lg-1">

    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 text-center top">
      <img [src]="imageUrl" class="imgBorder" style=" width: 35rem; height: 35rem;">
      <!-- <input type="file" #Image accept="image/*" (change)="handleFileInput($event.target.files)"> -->
      <br>
      <br><br>
      <input type="file" #Image accept="image/*" style="display: none;" (change)="handleFileInput($event.target.files)">
      <button class="btn btn-default btn-lg" (click)="Image.click();">Select File</button>&nbsp;&nbsp;&nbsp;&nbsp;
      <button type="button" class="btn btn-default btn-lg" (click)="newMessage()" disabled="true"
        [routerLink]="['/forecast']">Go to</button>

    </div>
    <div class="col-lg-8 col-md-8 col-sm-8 font-fam2 text-break">
      <p style="text-decoration: underline; margin-top: 80px;">ข้อแนะนำ</p>
      <p style="text-indent: 50px; font-size: 40px; ">ควรใช้รูปที่มีใบหน้าตรง ไม่มีสิ่งบดบังใบหน้า
        เพื่อเพิ่มประสิทธิภาพในการพยากรณ์ค่า BMI</p>
      <p style="font-size: 40px; ">จากโครงหน้าของผู้ใช้</p>

      <div class="text-center">
        <img src="assets/img2/do not use.png" style="width: 900px;">
      </div>
    </div>

    <div class="col-lg-8 col-md-8 col-sm-8 font-fam2 text-break">

    </div>
  </div>
</div>