.button {
    // border-radius: 12px;
    background-color: white;
    border-color: #32c5d2;
    color: #32c5d2;
    display: inline-block;
    cursor: pointer;
    
  }
  
  .btn:focus {
    color: white;
    background: #32c5d2;
    border-color: #32c5d2;
  }

  .outPopUp {
    font-size: 40px!important;
    position: absolute;
    z-index: 15;
    top: 25%;
    left: 0%;
  }
  
  .outPopUp2 {
    position: absolute;
    z-index: 15;
    top: 65%;
    left: 0%;
  }
  
  .form-control {
    outline: 0 !important;
  }